@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
  font-family: $font-serif;
}

// Background Classes
.bg-radial-gradient {
  background-image: $gradient-left;
}

.bg-darkest {
  background-color: $onyx;
}

.bg-dark {
  background-color: $carbon-black;
}

.bg-light {
  background-color: $beige;
}

.bg-green {
  background-color: $palm-leaf;
}

.bg-white {
  background-color: $porcelain;
}

// Title Classes
h1,
h2,
h3,
h4,
h5,
h6,
.display-title {
  font-family: $font-sans-serif;
  font-weight: 900;
}

.display-subtitle {
  font-family: $font-serif;
  font-weight: 200;
  margin: 0px;
}

.text-green {
  color: $palm-leaf;
}

.text-beige {
  color: $beige;
}

// Font Classes
.font-xlarge {
  font-size: 8rem;
  line-height: .8;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  letter-spacing: -.25rem;
}

.font-large {
  font-size: 6rem;
  line-height: 1.4;
  letter-spacing: -.2rem;
}

.font-medium {
  font-size: 2rem;
  letter-spacing: 0rem;
  line-height: .8;
}

.font-small {
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0rem;
}