@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  background-color: $onyx;
  overscroll-behavior: none;
  font-family: $font-serif;
}

a {
  font-size: 1.25rem;
  color: $palm-leaf;
}

// Background Classes

.bg-radial-gradient {
  background-image: $gradient-left;
}

.bg-onyx {
  background-color: $onyx;
}

.bg-carbon {
  background-color: $carbon-black;
}

.bg-beige {
  background-color: $beige;
}

.bg-palm {
  background-color: $palm-leaf;
}

.bg-porcelain {
  background-color: $porcelain;
}

// Title Classes

h1,
h2,
h3,
h4,
h5,
h6,
.display-title {
  font-family: $font-sans-serif;
  font-weight: 900;
}

.display-subtitle {
  font-family: $font-serif;
  font-weight: 200;
  letter-spacing: -.1rem;
  margin: 0px;
}

.text-palm {
  color: $palm-leaf;
}

.text-beige {
  color: $beige;
}

.text-porcelain {
  color: $porcelain;
}

// Font Classes
.font-xlarge {
  font-size: 8rem;
  line-height: .8;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  letter-spacing: -.25rem;
}

.font-large {
  font-size: 6rem;
  line-height: 1.4;
  letter-spacing: -.2rem;
}

.font-medium {
  font-size: 2rem;
  letter-spacing: 0rem;
  line-height: .8;
}

.font-small {
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0rem;
}

// Decorational Classes

.shadow-palm {
  box-shadow: 0px 0px 40px $palm-leaf;
}

.shadow-palm.ghost {
  box-shadow: 1px 1px 100px $palm-leaf-ghost;
}

.shadow-carbon {
  box-shadow: 0px 0px 40px $carbon-black;
}

.shadow-beige {
  box-shadow: 5px 5px 40px $beige;
}

.spacer-palm {
  margin-top: 5dvh;
  margin-bottom: 5dvh;
  height: 1px;
  opacity: 40%;
  background-color: $palm-leaf;
  box-shadow: 10px 10px 50px $palm-leaf;
}

.border-palm {
  border: 1px solid $palm-leaf;
}